body{
    background-color: rgba(255, 255, 255, 0.801);
}

.nav-top{
    background-color: rgb(28, 28, 31) !important;

}

.nav-menu{
    color: white !important;
}

.img-car{
    max-height: 600px !important;
}

.divisao{
    background-color: rgb(28, 28, 31) !important;
    text-align: center !important;
    color: white !important;
    padding: 2em !important;
}

.sec-pacotes{
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 0.5% !important;
    text-align: justify !important;
}

.card{
    margin-left: 1em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    padding: 1em !important;
}

footer{
    text-align: center !important;
    background-color: rgb(28, 28, 31) !important;
    color: white !important;
}

#contato{
   
    margin: 2em !important;
}

.form{
    text-align: justify;
    margin: 1em;
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px #999;  
}

.links{
    text-align: center !important;
    justify-content: center !important;
    margin: 1em;
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px #999;
    height: 93% !important;
}

